.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 55px;
    height: 55px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ca0e0e;
    border-color: #5f5f5f transparent #5f5f5f transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
